@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-color:#0a0908;
  color:#A5D8FF;

}

h2{
  
  display: flex;
  justify-content: center;
  font-size: 50px;
  color:white;
  padding:20px;
  border-radius: 20px;
  border: 2px dashed white;
}


.container{
  display: grid;
  grid-template-columns: auto auto auto;
  align-content: center;
  justify-content: center;
  margin-bottom: 10px;

}
@media only screen and (max-width: 630px) {

  .container{
    grid-template-columns: auto;
  }

  h2{
    font-size: 30px;
  }
  
}

@media only screen and (max-width: 950px) and (min-width: 600px) {

  .container{
    grid-template-columns: auto auto;
  }

  
  
}
.card{
  position: inherit;
  height: 300px;
  width: 250px;
  border: 2px solid white;
  margin:10px;
  padding:20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;
  border-radius: 0%;
  
}

.card:hover{
  background-color:#131313;
  cursor: pointer;
  border-radius: 15%;
  
}
.logo{
  transition: all 1s ease-in-out;

}
.card:hover .logo{
  transform: rotate(360deg);

}
.name{
  padding-top: 10px;
}

.volume24h{
  font-size: 1.5rem;
  padding-top: 10px;
  text-align: center;
}

.link{
  padding-top: 10px;
  text-decoration: none;
}
.link a{

  text-decoration: none;
  color:#A5D8FF;
  
}