@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200&display=swap');
body {
  margin: 0;
  font-family: 'Inconsolata', monospace;
  background-color:#0a0908;
  color:#A5D8FF;

}

h2{
  
  display: flex;
  justify-content: center;
  font-size: 50px;
  color:white;
  padding:20px;
  border-radius: 20px;
  border: 2px dashed white;
}


.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 20px;
}
.card{
  height: 300px;
  width: 250px;
  border: 2px solid white;
  margin:10px;
  padding:20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  font-size: 1.5rem;
  transition: all 1s ease-in-out;
  border-radius: 0%;
}

.card:hover{
  background-color:#303030;
  cursor: pointer;
  border-radius: 10%;
}


.volume24h{
  font-size: 1.5rem;
  padding-top: 10px;
  text-align: center;
}

.link{
  padding-top: 10px;
}
.link a{

  text-decoration: none;
  color:#A5D8FF;
  
}